@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$font-family-sans-serif: "JetBrains Mono" !default;
$font-family-base: $font-family-sans-serif !default;

$primary: #003da5;
$secondary: #41b6e6;
$success: #97d700;
$danger: crimson;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "danger": $danger,
);

// @mixin gradient-y-three-colors($start-color: $primary, $mid-color: $secondary, $color-stop: 50%, $end-color: $success) {
//     background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
// }